aiohttp==2.3.10
aiohttp-jinja2==0.16.0
aiosocks==0.2.6
lxml==4.9.1
fake-useragent
jinja2
peewee-async==0.5.12
aiopg==0.16.0
recommonmark
sphinx_rtd_theme
sphinx
py_mini_racer
pytest
pytest-asyncio
termcolor
uvloop
geoip2
bs4
